spring:
  application:
    name: appointment-management-system
  
  datasource:
    url: jdbc:postgresql://aws-1-eu-central-1.pooler.supabase.com:5432/postgres?sslmode=require
    username: postgres.jtzavxwqwrizshtbxwkb
    password: melOs4-99-42
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: false
    out-of-order: true
  
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
  
  mail:
    host: smtp.gmail.com
    port: 587
    username: hlt0rezervasyon@gmail.com
    password: harjmaxwdavimfpc
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

jwt:
  secret: 936bb8d6e112f623ad6c5a97c0fd869d640d4e4720ee21d22b026cc6266ebaff
  access-token-expiration: 900000
  refresh-token-expiration: 604800000

app:
  name: Smart Appointment Management System
  url: ${APP_URL:http://localhost:8080}
  email:
    from: ${MAIL_FROM:noreply@appointment.com}
    verification-token-expiration: 86400000
    password-reset-token-expiration: 3600000

server:
  port: 8080

logging:
  level:
    com.project.appointment: DEBUG
    org.springframework.security: DEBUG
